<div ng-controller="NetworkController">
   

   <div class="row">
    <div class="col-lg-2 col-xs-2 action-tab">
        
        <button type="button" class="btn btn-primary btn-block"> Create Graph</button>
        <div class="checkbox">
  <label><input type="checkbox" value=""> User </label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value=""> Both</label>
</div>
<div class="checkbox disabled">
  <label><input type="checkbox" value="" disabled> Machine</label>
</div>

</div>
 
 

<div>
    <div class="col-lg-10 col-xs-10 graph-tab">
      <div id="network-viz"></div>
    </div>
    
</div>   

</div>





