<div ng-controller="UploadController">
   <div class="row">
    <div class="col-lg-4 col-xs-4 action-tab">
     <div class="card">
      <div class="container-fluid">
       <input type="file" 
         name = "file"
         ng-model = "jsonFile"
         class="btn btn-primary btn-block top-margin"
         ngf-select
          accept=".json"  ngf-max-size="1MB">
      
        
        
        <button type="button" 
                ng-click="uploadFiles(jsonFile)"
                class="btn btn-primary btn-block bottom-margin"> Submit </button>
        <span ng-show="jsonFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>        
        </div>
        
        </div>
</div>
 
 



</div>